<h1 style="text-align:center">HOD'S OF RESPECTIVE DEPARTMENTS</h1>
<div class="row " style="padding-left:3px">
  <div class="col-2 mr-5">
      <div class="container">
          <img src="../../assets/images/kavita-sm.png" alt="Avatar" class="image">
          <div class="overlay"><p>Dr.Kavita Khanna</p><p>HOD CSE Department</p></div>
        </div>
    
  </div>
  <div class="col-2 mr-5">
      <div class="container">
          <img src="../../assets/images/sharda-vashist.jpg" alt="Avatar" class="image">
          <div class="overlay"><p>Dr.Sharda Vashisth</p><p>HOD ECE Department</p></div>
        </div>
  </div>
  <div class="col-2 mr-5">
      <div class="container">
          <img src="../../assets/images/hbraghevangra.png" alt="Avatar" class="image">
          <div class="overlay"><p>Prof H.B.Raghavendra</p><p>Vice-Chancellor & HOD Civil Department</p></div>
        </div>
    
    
  </div>
  <div class="col-2 mr-5">
      <div class="container ">
          <img src="../../assets/images/pramod-bhatia-mech.jpg" alt="Avatar" class="image">
          <div class="overlay"><p>Dr. Pramod Bhatia</p><p>HOD Mechanical Department</p></div>
        </div>
      
      
    </div>
    <div class="col-2 mr-5">
        <div class="container">
            <img src="../../assets/images/swaran_a.jpg" alt="Avatar" class="image">
            <div class="overlay"><p>Dr.Swaran Ahuja</p><p>DEAN Academics</p></div>
          </div>
        
      
      </div>
     </div>
     <h1 style="text-align:center">Associate Professors</h1>
<div class="row " style="padding-left:3px">
  <div class="col-2 mr-5">
      <div class="container">
          <img src="../../assets/images/Archanaa-Dongre-sm.jpg" alt="Avatar" class="image">
          <div class="overlay"><p>Dr.Archanaa Dongre</p><p>Civil Department</p></div>
        </div>
    
    
  </div>
  <div class="col-2 mr-5">
      <div class="container">
          <img src="../../assets/images/diptendu-civil.jpg" alt="Avatar" class="image">
          <div class="overlay"><p>Mr.Diptendu Roy</p><p>Civil Department</p></div>
        </div>
    
  </div>
  <div class="col-2 mr-5">
      <div class="container">
          <img src="../../assets/images/rekha-vig-ece.jpg" alt="Avatar" class="image">
          <div class="overlay"><p>Dr.Rekha Vig</p><p> ECE Department</p></div>
        </div>
    
  </div>
  <div class="col-2 mr-5">
      <div class="container">
          <img src="../../assets/images/rohit-lather-mech.jpg" alt="Avatar" class="image">
          <div class="overlay"><p>Dr.Rohit Singh Lather</p><p>ME Department</p></div>
        </div>
      
    </div>
    <div class="col-2 mr-5">
        <div class="container">
            <img src="../../assets/images/sandeep-singh-cse.jpg" alt="Avatar" class="image">
            <div class="overlay"><p>Mr.Sandeep Singh</p><p>CSE Department</p></div>
          </div>
        
      </div>
   
     </div>
     <h1 style="text-align:center">Assistant Professors</h1>
<div class="row " style="padding-left:3px">
  <div class="col-2 mr-5">
      <div class="container">
          <img src="../../assets/images/jyoti-sahni-cse.jpg" alt="Avatar" class="image">
          <div class="overlay"><p>Dr.Jyoti Sahni</p><p>CSE Department</p></div>
        </div>
    
  </div>
  <div class="col-2 mr-5">
      <div class="container">
          <img src="../../assets/images/prerna-cse.jpg" alt="Avatar" class="image">
          <div class="overlay"><p>Ms.Prerna Singhal</p><p>CSE Department</p></div>
        </div>
    
    
  </div>
  <div class="col-2 mr-5">
      <div class="container">
          <img src="../../assets/images/shubham-bansal-civil.jpg" alt="Avatar" class="image">
          <div class="overlay"><p>Mr.Shubham Bansal</p><p>Civil Department</p></div>
        </div>
    
      </div>
  <div class="col-2 mr-5">
      <div class="container">
          <img src="../../assets/images/vandana-khanna-ece.jpg" alt="Avatar" class="image">
          <div class="overlay"><p>Dr.Vanadana Khanna</p><p> ECE Department</p></div>
        </div>
    
    </div>
    <div class="col-2 mr-5">
        <div class="container">
            <img src="../../assets/images/vikas-sharma-mech.jpg" alt="Avatar" class="image">
            <div class="overlay"><p>Dr.Vikas Sharma</p><p>ME Department</p></div>
          </div>
        
      </div>
   
     </div>
     <div class="row " style="padding-left:3px">
        <div class="col-2 mr-5" style="margin-left:39.75%">
            <div class="container p-2">
                <img src="../../assets/images/praveen-singh-mech.jpg" alt="Avatar" class="image">
                <div class="overlay"><p>Mr.Praveen Singh</p><p>ME Department</p></div>
              </div>
          
        </div>
        </div>
        <div class="text-center">
            <button id="b2" class="btn btn-secondary m-1" routerLink="/">Go back</button>
        </div>


