<div class="float-right">
    
    <a href="https://www.ncuindia.edu/"  target="_blank">  <img src="../../assets/images/The_NorthCap_University_logo.png" width="150px" alt="ncu-logo"></a>
  </div>
  <!-- <div class="float-right mr-2 p-3" style="color: white;"> 
     <small>    Faculty Promoted :    <span *ngIf="cart.itemCount > 0"> 
            {{ cart.itemCount }} item(s) 
                    </span>    <span *ngIf="cart.itemCount == 0">      (none)    

                    </span> 
                   </small>  <button class="btn btn-sm bg-dark text-white"      [disabled]="cart.itemCount == 0"> 
                      <i class="fa fa-user-circle-o"></i>   </button> </div> -->